# Azure OpenAI Service
api_key = "YOUR_KEY"
api_version = "2023-12-01-preview"
azure_endpoint = "https://YOUR_AOAI_NAME.openai.azure.com/"
azure_deployment_gpt4v = "gpt-4"

# Azure Computer Vision
azure_cv_endpoint = "https://YOUR_CV_NAME.cognitiveservices.azure.com/"
azure_cv_api_key = "YOUR_KEY"
